<div class="row">
  <div class="col-lg-12">
    <!-- breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li aria-current="page" class="breadcrumb-item active">Phụ nữ</li>
      </ol>
    </nav>
  </div>
  <div class="col-lg-3">
    <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
    <div class="card sidebar-menu mb-4">
      <div class="card-header">
        <h3 class="h4 card-title">Loại hàng</h3>
      </div>
      <div class="card-body">
        <ul class="nav nav-pills flex-column category-menu">
          <li><a href="/category" class="nav-link">Đàn ông <span class="badge badge-secondary">42</span></a>
            <ul class="list-unstyled">
              <li><a href="/category" class="nav-link">Áo thun</a></li>
              <li><a href="/category" class="nav-link">Áo sơ mi</a></li>
              <li><a href="/category" class="nav-link">Quần</a></li>
            </ul>
          </li>
          <li><a href="/category" class="nav-link active">Phụ nữ <span class="badge badge-light">123</span></a>
            <ul class="list-unstyled">
              <li><a href="/category" class="nav-link">Áo thun</a></li>
              <li><a href="/category" class="nav-link">Áo sơ mi</a></li>
              <li><a href="/category" class="nav-link">Quần</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card sidebar-menu mb-4">
      <div class="card-header">
        <h3 class="h4 card-title">Nhà sản xuất</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Armani (10)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Versace (12)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Carlo Bruni (15)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Jack Honey (14)
              </label>
            </div>
          </div>
          <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Áp dụng</button>
        </form>
      </div>
    </div>
    <div class="card sidebar-menu mb-4">
      <div class="card-header">
        <h3 class="h4 card-title">Màu sắc</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="colour white"></span> Trắng (14)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="colour blue"></span> Xanh dương (10)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="colour green"></span> Xanh lá (20)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="colour yellow"></span> Vàng (13)
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"><span class="colour red"></span> Đỏ (10)
              </label>
            </div>
          </div>
          <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Áp dụng</button>
        </form>
      </div>
    </div>
    <!-- *** MENUS AND FILTERS END ***-->
    <div class="banner"><a href="#"><img src="/images/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
  </div>
  <div class="col-lg-9">
    <div class="box">
      <h1>Phụ nữ</h1>
      <p>Trong danh sách sản phẩm về phụ nữ của chúng tôi, chúng tôi cung cấp nhiều lựa chọn các sản phẩm tốt nhất mà chúng tôi đã tìm thấy và lựa chọn cẩn thận trên toàn thế giới.</p>
    </div>
    <div class="box info-bar">
      <div class="row">
        <div class="col-md-12 col-lg-4 products-showing">Đưa <strong>12</strong> trong <strong>25</strong> sản phẩm
        </div>
        <div class="col-md-12 col-lg-7 products-number-sort">
          <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
            <div class="products-number"><strong>Trang</strong><a href="#" class="btn btn-sm btn-primary">12</a><a
                href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#"
                class="btn btn-outline-secondary btn-sm">All</a><span>sản phẩm</span></div>
            <div class="products-sort-by mt-2 mt-lg-0"><strong>Sắp xếp theo</strong>
              <select name="sort-by" class="form-control">
                <option>Giá</option>
                <option>Tên</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row products">
      <div class="col-lg-4 col-md-6">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product1.jpg" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="/detail"><img src="/images/product1_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product1.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo lông</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
            <p class="buttons"><a href="/detail" class="btn btn-outline-secondary">Xem chi tiết</a><a
                href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a></p>
          </div>
          <!-- /.text-->
        </div>
        <!-- /.product            -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product2.jpg" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="/detail"><img src="/images/product2_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo trắng</a></h3>
            <p class="price">
              <del>280.000đ</del>143.000đ
            </p>
            <p class="buttons"><a href="/detail" class="btn btn-outline-secondary">Xem chi tiết</a><a
                href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a></p>
          </div>
          <!-- /.text-->
          <div class="ribbon sale">
            <div class="theribbon">GIẢM GIÁ</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon new">
            <div class="theribbon">MỚI</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon gift">
            <div class="theribbon">QUÀ TẶNG</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product            -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product3.jpg" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="/detail"><img src="/images/product3_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo đen Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
            <p class="buttons"><a href="/detail" class="btn btn-outline-secondary">Xem chi tiết</a><a
                href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a></p>
          </div>
          <!-- /.text-->
        </div>
        <!-- /.product            -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product3.jpg" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="/detail"><img src="/images/product3_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo đen Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
            <p class="buttons"><a href="/detail" class="btn btn-outline-secondary">Xem chi tiết</a><a
                href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a></p>
          </div>
          <!-- /.text-->
        </div>
        <!-- /.product            -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product2.jpg" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="/detail"><img src="/images/product2_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo trắng Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
            <p class="buttons"><a href="/detail" class="btn btn-outline-secondary">Xem chi tiết</a><a
                href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a></p>
          </div>
          <!-- /.text-->
          <div class="ribbon new">
            <div class="theribbon">MỚI</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product            -->
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product1.jpg" alt="" class="img-fluid"></a></div>
              <div class="back"><a href="/detail"><img src="/images/product1_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product1.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo lông</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
            <p class="buttons"><a href="/detail" class="btn btn-outline-secondary">Xem chi tiết</a><a
                href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a></p>
          </div>
          <!-- /.text-->
          <div class="ribbon gift">
            <div class="theribbon">QUÀ TẶNG</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product            -->
      </div>
      <!-- /.products-->
    </div>
    <div class="pages">
      <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Xem thêm</a>
      </p>
      <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span
                aria-hidden="true">«</span><span class="sr-only">Trước</span></a></li>
          <li class="page-item active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span
                class="sr-only">Kế</span></a></li>
        </ul>
      </nav>
    </div>  
  </div>
  <!-- /.col-lg-9-->
</div>