<div class="row">
  <div class="col-md-12">
    <div id="main-slider" class="owl-carousel owl-theme">
      <div class="item"><img src="/images/main-slider1.jpg" alt="" class="img-fluid"></div>
      <div class="item"><img src="/images/main-slider2.jpg" alt="" class="img-fluid"></div>
      <div class="item"><img src="/images/main-slider3.jpg" alt="" class="img-fluid"></div>
      <div class="item"><img src="/images/main-slider4.jpg" alt="" class="img-fluid"></div>
    </div>
    <!-- /#main-slider-->
  </div>
</div>
</div>
<!--
        *** ADVANTAGES HOMEPAGE ***
        _________________________________________________________
        -->
<div id="advantages">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-4">
        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
          <div class="icon"><i class="fa fa-heart"></i></div>
          <h3><a href="#">Chúng tôi yêu khách hàng</a></h3>
          <p class="mb-0">Chúng tôi cung cấp các dịch vụ tốt nhất cho khách hàng</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
          <div class="icon"><i class="fa fa-tags"></i></div>
          <h3><a href="#">Giá hợp lý</a></h3>
          <p class="mb-0">Giá sản phẩm luôn hợp lý với thị trường</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
          <div class="icon"><i class="fa fa-thumbs-up"></i></div>
          <h3><a href="#">Đảm báo hài lòng</a></h3>
          <p class="mb-0">Trả lại hàng sau 3 tháng nếu có lỗi</p>
        </div>
      </div>
    </div>
    <!-- /.row-->
  </div>
  <!-- /.container-->
</div>
<!-- /#advantages-->
<!-- *** ADVANTAGES END ***-->
<!--
        *** HOT PRODUCT SLIDESHOW ***
        _________________________________________________________
        -->
<div id="hot">
  <div class="box py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-0">SẢN PHẨM BÁN CHẠY TRONG TUẦN</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="product-slider owl-carousel owl-theme">
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product1_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product1.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo lông</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
          </div>
          <!-- /.text-->
          <div class="ribbon sale">
            <div class="theribbon">Giảm giá</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon new">
            <div class="theribbon">Mới</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon gift">
            <div class="theribbon">Quà tặng</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product2_2.jpg" alt="" class="img-fluid"></a>
              </div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo trắng Armani</a></h3>
            <p class="price">
              <del>280.000đ</del>143.000đ
            </p>
          </div>
          <!-- /.text-->
          <div class="ribbon sale">
            <div class="theribbon">Giảm giá</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon new">
            <div class="theribbon">Mới</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon gift">
            <div class="theribbon">Quà tặng</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product3_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo đen Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
          </div>
          <!-- /.text-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product3_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo đen Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
          </div>
          <!-- /.text-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product2_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo trắng Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
          </div>
          <!-- /.text-->
          <div class="ribbon new">
            <div class="theribbon">Mới</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product1_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product1.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo lông</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
          </div>
          <!-- /.text-->
          <div class="ribbon gift">
            <div class="theribbon">Quà tặng</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product2_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product2.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo trắng Armani</a></h3>
            <p class="price">
              <del>280.000đ</del>143.000đ
            </p>
          </div>
          <!-- /.text-->
          <div class="ribbon sale">
            <div class="theribbon">Giảm giá</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon new">
            <div class="theribbon">Mới</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
          <div class="ribbon gift">
            <div class="theribbon">Quà tặng</div>
            <div class="ribbon-background"></div>
          </div>
          <!-- /.ribbon-->
        </div>
        <!-- /.product-->
      </div>
      <div class="item">
        <div class="product">
          <div class="flip-container">
            <div class="flipper">
              <div class="front"><a href="/detail"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="back"><a href="/detail"><img src="/images/product3_2.jpg" alt="" class="img-fluid"></a></div>
            </div>
          </div><a href="/detail" class="invisible"><img src="/images/product3.jpg" alt="" class="img-fluid"></a>
          <div class="text">
            <h3><a href="/detail">Áo đen Versace</a></h3>
            <p class="price">
              <del></del>143.000đ
            </p>
          </div>
          <!-- /.text-->
        </div>
        <!-- /.product-->
      </div>
      <!-- /.product-slider-->
    </div>
    <!-- /.container-->
  </div>
  <!-- /#hot-->
  <!-- *** HOT END ***-->
</div>
<!--
        *** GET INSPIRED ***
        _________________________________________________________
        -->
<div class="container">
  <div class="col-md-12">
    <div class="box slideshow">
      <h3>Lấy cảm hứng</h3>
      <p class="lead">Lấy cảm hứng từ các thiết kế viên của chúng tôi</p>
      <div id="get-inspired" class="owl-carousel owl-theme">
        <div class="item"><a href="#"><img src="/images/getinspired1.jpg" alt="Get inspired" class="img-fluid"></a>
        </div>
        <div class="item"><a href="#"><img src="/images/getinspired2.jpg" alt="Get inspired" class="img-fluid"></a>
        </div>
        <div class="item"><a href="#"><img src="/images/getinspired3.jpg" alt="Get inspired" class="img-fluid"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- *** GET INSPIRED END ***-->
<!--
        *** BLOG HOMEPAGE ***
        _________________________________________________________
        -->
<div class="box text-center">
  <div class="container">
    <div class="col-md-12">
      <h3 class="text-uppercase">Blog của chúng tôi</h3>
      <p class="lead mb-0">Có gì mới trong thế giới thời trang? <a href="blog.html">Hãy ghé xem blog!</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div id="blog-homepage" class="row">
      <div class="col-sm-6">
        <div class="post">
          <h4><a href="post.html">Thời trang</a></h4>
          <p class="author-category">Bởi <a href="#">John Slim</a> in <a href="">Thời trang và phong cách</a></p>
          <hr>
          <p class="read-more"><a href="#" class="btn btn-primary">Đọc</a></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="post">
          <h4><a href="post.html">Ai là ai? blog</a></h4>
          <p class="author-category">Bởi <a href="#">John Slim</a> in <a href="">về Minimal</a></p>
          <hr>
          <p class="read-more"><a href="#" class="btn btn-primary">Đọc</a></p>
        </div>
      </div>
    </div>
    <!-- /#blog-homepage-->
  </div>